* {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	

		
		#site-title {
			color: #144362;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-shadow: 3px 2px silver;
			font-family: aharoni;
			background-color:#d9d9f0;
			font-size: 20px;
			padding-bottom: 0px;
			text-decoration: none;
			padding-top: 5px;
		}

		#site-title a {
			text-decoration: none;
			color: #144362;
		}

		#site-title a:hover {
			text-decoration: none;
			color: white;
			text-shadow: 1px 1px black;
			transition: 0.3s linear;
			font-size: 22px;
		}

		.bannerLine {
			color: #d9d9f0;
			text-shadow: 2px 1px 2px black;
			text-align: center;
			padding-top: 50px;
			letter-spacing: 2px;
			font-size: 65px;
			font-weight: 700;
		}

		.photo {
			background: url("study.jpg");
			opacity: 0.7;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100vw;
			height: 600px;
			background-position: center;
			margin-top: -10px;


		}

		footer  {
			color: #144362;
			background-color: #d9d9f0;
			margin-top: 0px;
			text-align: center;
			font-family: aharoni;
			
		}

		footer h2 {
			text-shadow: 3px 2px silver;
		}

		p {
			font-size: 18px;
			color: #144362;
		}

		#phone2 {
			color: #144362;
		}

		#phone2 a:hover {
			font-size: 25px;
			text-decoration: none;
			color: #144362;

		}

		#phone2 a:visited {
			color: #144362;
		}

		#serviceHead {
			text-align: center;
			text-shadow: 3px 2px silver;
			padding-bottom: 10px;
			background-color: #d9d9f0;
			font-family: aharoni;
			color: #144362;
		}

		.services h3 {
			text-align: center;
		}

		.services ul li {
			list-style: none;
			text-align: center;
		}

		.service1 {
			border: 0px 1px 1px 1px solid #d9d9f0;
		}

		#testimonials {
			text-shadow: 3px 2px silver;
			padding-top: -5px;
			padding-bottom: -5px;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 15px;
			font-family: aharoni;
			color: #144362;
			background-color: #d9d9f0;
			width: 100%;
		}

	#consultHead {
		text-align: center;
		color: #144362;
		font-weight:700;
		background-color: #d9d9f0;
		text-shadow: 3px 2px silver;
	}

	.signUp {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn-submit {
		background-color: #144362;
		border: none;
		font-family: aharoni;
	}

	.btn-submit:hover {
		background-color: #d9d9f0;
		color: #144362;
		font-family: aharoni;
		border: 1px solid #144362;
	}
	}